AIRFLOW_FERNET_KEY=noUbe_aJNNwaCNiiEf7ULliGl09HpD6zCEZwZNEqpvE=

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

RAGIT_MCP_TOKEN=9b0b4bf9be91ed670ce202fee230368eaf8213977622ac64bb6c104b471db441
